/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  color: var(--primary-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-family: var(--main-font-family, "IBM Plex Mono"), monospace;
  font-weight: var(--primary-font-weight, 400);
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
